{{#if logged_in}}
  <nav>
    <a class="no-button" href="/">Home</a>
    <a class="no-button" href="/dashboard">Dashboard</a>  
    <button class="no-button" id="logout">Logout</button>        
  </nav>
{{else}}
  <nav>
    <a class="no-button" href="/">Home</a>
    <a class="no-button" href="/dashboard">Dashboard</a> 
    <a class="no-button" href="/login">Login</a>        
  </nav>
{{/if}}
