<!-- Loop over each object in the post array -->
<ul style="list-style-type: none; padding-inline-start: 0px;">
{{#each posts as |post| }}
<li>
<div class="col mb-5 post" style="border-radius: 1rem; min-height:3rem;background-color:#241011;display:flex;align-items:center;justify-content: space-between; padding: 0 1rem;">
  <div class="" style="color:#FFF;">    
      <a class="no-button" href="/api/post/{{post.id}}">{{post.title}}</a>
  </div> 
  <div style="color:#FFF;">{{format_date post.date_created}}</div>
</div>
</li>
{{/each}}
</ul>

<a href="/api/post/create" class="no-button" id="newPOST-button" style="border-radius:0.5rem; padding: 0.75rem 1.25rem; width:fit-content; margin: 0 auto; background-color: #241011;">
  + New Post
</a>

