<div class="row">
  <div class="access-border">
    <h2>Signup</h2>
  <div class="access-signup">  

    <form class="form signup-form">
      <div class="form-group">
        <label for="name-signup">Username:</label>
        <input class="form-input" type="text" id="name-signup" />
      </div>
      <div class="form-group">
        <label for="email-signup">Email:</label>
        <input class="form-input" type="text" id="email-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup">Password:</label>
        <input class="form-input" type="password" id="password-signup" />
      </div>
      <div class="form-group">
        <button class="btn-access btn btn-primary" type="submit">Sign Up</button>
      </div>
       <a href="/login">Already have and account? Login instead</a>
    </form>
  </div>
  </div>
</div>

<script src="./js/login.js"></script>
